.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-size: 3rem;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;
  
  a {
    color: var(--text-heading);
    &:hover { color: var(--text-heading); }
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.description {
  max-width: 320px;
  color: var(--text-main);
  margin-bottom: 2rem;
}

/* Nav Menu */
.nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-list {
  list-style: none;
  
  li {
    margin-bottom: 1rem;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
  
  .nav-indicator {
    height: 1px;
    width: 30px;
    background-color: var(--text-main);
    margin-right: 15px;
    transition: all 0.3s ease;
  }
  
  .nav-text {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: var(--text-main);
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

  &:hover, &.active {
    .nav-indicator {
      width: 60px;
      background-color: var(--text-heading);
    }
    .nav-text {
      color: var(--text-heading);
    }
  }
}

.social-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;

  a {
    color: var(--text-main);
    transition: color 0.3s ease;
    
    &:hover {
      color: var(--text-heading);
    }
    
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
  .name {
    font-size: 2.5rem;
  }
  .description {
    max-width: 100%;
  }
}