.layout-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 96px; // 6rem
  display: flex;
  justify-content: space-between;
  gap: 48px;
  background-color: var(--bg-color);
}

.sidebar-wrapper {
  // Classic Sticky Side Layout
  flex: 0 0 45%;
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Tablets / Typical Desktop Shrinko */
@media (max-width: 1024px) {
  .layout-container {
    padding: 0 48px;
    flex-direction: column;
  }

  .sidebar-wrapper {
    position: relative;
    max-height: none;
    width: 100%;
    padding-bottom: 0px;
  }

  .content-wrapper {
    width: 100%;
    padding-top: 48px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .layout-container {
    padding: 0 24px;
  }

  .sidebar-wrapper {
    padding-top: 48px;
  }

  .content-wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}